body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}
      

.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
   
}

.profile-box{
    position: relative;
    padding: 0% 1%;

}

.tittle{
    text-align: center;
    font-size: 1rem;
}

.social-media{
    font-size: 1.5rem;
}

.social-media a i{
    color: black;

}

.social-media a i:hover{ opacity: 1; color: orangered;}

.navbar{
    display: flex;
    position: relative;
    flex-direction: column;
    
}

.navbar a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #1e1e1e;
}
.navbar a:hover{opacity:  1; color: orangered;}

.dropbtn {
    color: #1e1e1e;
    font-size: 1rem;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
 
  .dropdown-content {
    display: none;
    width: 100%;
  }
  .dropdown-content ul{
    margin: 0;
    padding: 0; 
  }
 .dropdown-content ul li{
    display: flex;
    flex-direction: column;
    list-style: none;  
 }

 .dropdown-content ul li a{
    font-size: 0.9rem;
 }


  
  .dropdown:hover .dropdown-content {display: block;}

/***********/

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr)); 
    border: 0.1px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 5px;
    padding: 10px 10px;
    width: 100%;
  }

  .image-gallery {
    position: relative;
    overflow: hidden;
  }
  
  .image-gallery img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; 
    padding: 3px 3px;
  }

  .page-number{
    width: 100%;
    height: auto;
    border-radius: 1px;
    padding: 10px 0 ;
    display: flex;
    margin-left: 100%;
  }

  .page-number a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size: 1.5rem;
  }
.page-number a:hover{opacity:  1; color: orangered;}

@media screen and (max-width: 300px){
    .header{
        padding: 0;
        margin: 0;
    }
    
    .tittle{
        font-size: 0.1rem;
    }
    .home a {
        font-size: 0.1rem;
    }
    .gp a{
        font-size: 0.1rem;
    }
    
    .ui a{
        font-size: 0.1rem;
    }
    .cine a{
        font-size: 0.1rem;
    }
    .dropbtn a{
        font-size: 0.1rem;
    }
    .dropdown-content ul li a{
        font-size: 0.1rem;
    }
    }

@media screen and (max-width: 375px){
.header{
    padding: 0;
    margin: 0;
}

.tittle{
    font-size: 0.5rem;
}
.home a {
    font-size: 0.5rem;
}
.gp a{
    font-size: 0.5rem;
}

.ui a{
    font-size: 0.5rem;
}
.cine a{
    font-size: 0.5rem;
}
.dropbtn a{
    font-size: 0.5rem;
}
.dropdown-content ul li a{
    font-size: 0.5rem;
}
}


@media (max-width: 576px){
    .header{
        padding: 0;
        margin: 0;
    }
    
    .tittle{
        font-size: 0.5rem;
    }
    .home a {
        font-size: 0.5rem;
    }
    .gp a{
        font-size: 0.5rem;
    }
    
    .ui a{
        font-size: 0.5rem;
    }
    .cine a{
        font-size: 0.5rem;
    }
    .dropbtn a{
        font-size: 0.5rem;
    }
    .dropdown-content ul li a{
        font-size: 0.5rem;
    }
   
}
@media (max-width: 768px){
    .header{
        padding: 0;
        margin: 0;
    }
    
    .tittle{
        font-size: 0.5rem;
    }
    .home a {
        font-size: 0.5rem;
    }
    .gp a{
        font-size: 0.5rem;
    }
    
    .ui a{
        font-size: 0.5rem;
    }
    .cine a{
        font-size: 0.5rem;
    }
    .dropbtn a{
        font-size: 0.5rem;
    }
    .dropdown-content ul li a{
        font-size: 0.5rem;
    }
   
}

@media (max-width: 1400px){
    .header{
        padding: 0;
        margin: 0;
    }
    
    .tittle{
        font-size: 0.5rem;
    }
    .home a {
        font-size: 0.5rem;
    }
    .gp a{
        font-size: 0.5rem;
    }
    
    .ui a{
        font-size: 0.5rem;
    }
    .cine a{
        font-size: 0.5rem;
    }
    .dropbtn a{
        font-size: 0.5rem;
    }
    .dropdown-content ul li a{
        font-size: 0.5rem;
    }
}



